<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SAHRP B2B 数据</title>
</head>
<body>
    <h1>选择需要生成的B2B数据</h1>
    <form action="/index" method="post" enctype="multipart/form-data">
        <label>选择数据</label>

        <select id="data-select" name="data_type">
            <option value="" disabled selected>--Please choose an option--</option>
            <option value="Config/sharp_data_config.yaml">SA_FROM_SAP</option>
            <option value="Config/tdoc_data_config.yaml">TDOC_INVOICE</option>
        </select>
        <BUTTON type="submit" >生成结果</BUTTON>
    </form>
</body>
</html>