<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tdoc 数据处理</title>
</head>
<body>
    <h1>B2B数据生成</h1>
    <form action="/index/data_edit" method="get">
        <label>选择数据</label>

        <select id="data-select" name="data_type">
            <option value="" disabled selected>--Please choose an option--</option>
            <option value="sa">SA_FROM_SAP</option>
            <option value="tdoc">TDOC_INVOICE</option>
        </select>
        <BUTTON type="submit" >编辑</BUTTON>
    </form>

    <!--输入需要生成tdoc的数据-->
    <form action="/index/tdoc" method="post">
        <h3>TDOC INVOICE</h3>
        <div>
            <label>buyerInvoiceNo<input type="text" name="tdoc[]" id="buyerInvoiceNo"/></label>
        </div>
        <div>
            <label>blNo<input type="text" name="tdoc[]" id="blNo"/></label>
        </div>
        <div>
            <label>blDate<input type="text" name="tdoc[]" id="blDate"/></label>
        </div>
        <div>
            <label>invoiceNo<input type="text" name="tdoc[]" id="invoiceNo"/></label>
        </div>
        <button type="submit">生成数据</button>
    </form>
    <h4>处理结果</h4>
    <div>
        <pre>{{ result }}</pre>
    </div>

</body>
</html>